.search-form {
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    background: #111;
    min-height: 10vh;
  }
  &-input {
    font-size: 2rem;
    height: 4rem;
    width: 50%;
    padding: 2rem;
    border-radius: 5rem;
    outline: none;
    border: none;
    transition: all 0.5s;
    background: rgba(255, 255, 255, 0.267);
    @media only screen and (max-width: 30em) {
      width: 70%;
      margin-right: 0;
    }
    &:focus {
      outline: none;
      width: 60%;
      @media only screen and (max-width: 30em) {
        width: 75%;
      }
    }
  }
}
.search {
  &-container {
    background: #111;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1rem;
    position: relative;
    min-height: 0vh;
  }
}
.invalidImageSrc {
  color: white;
  font-size: 2rem;
}
.incHeight {
  min-height: 72vh !important;
}
.errmsg {
  position: absolute;
  bottom: 0;
  color: rgba(255, 255, 255, 0.178);
  font-size: 1.2rem;
  @media only screen and (max-width: 30em) {
    bottom: none;
    top: -3rem;
  }
}
