.genre {
  background: #111;
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  position: relative;
  min-height: 15vh;
  &-link {
    text-decoration: none;
    color: green;
    font-size: 2rem;
    font-weight: 500;
    margin-left: 1rem;
  }
  &-menu {
    position: absolute;
    color: white;
    font-size: 2rem;
    right: 3rem;
    bottom: 0;
    display: flex;
    align-items: center;
  }
  &-selected {
    border-top: 1px solid green;
    border-left: 1px solid green;
    border-right: 1px solid green;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
  &-test {
    min-height: 65vh;
    background: #111;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &-quote {
      width: 50%;
      color: #ddd;
      font-size: 3rem;
      line-height: 1.6;
      position: relative;
      &-small {
        position: absolute;
        right: 0;
        display: block;
        font-size: 1.2rem;
      }
    }
  }
  &-container {
    background: #111;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1rem;
    position: relative;

    &-right {
      position: absolute;
      bottom: 0;
      right: 0;
      color: white;
      display: flex;
      align-items: center;
      padding: 2rem 2rem 0 0.5rem;
      transition: all 0.5s;
      &-item {
        cursor: pointer;
        fill: white;
        height: 4rem;
        width: 4rem;
        margin-left: 1rem;
        &:active,
        &:focus {
          fill: green;
        }
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    &-left {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 2rem 2rem 0 2rem;
      transition: all 0.5s;
      &-item {
        cursor: pointer;
        fill: white;
        height: 4rem;
        width: 4rem;
        &:hover {
          transform: scale(1.2);
        }
        &:active,
        &:focus {
          fill: green;
        }
      }
    }
  }
  &-title {
    color: rgba(255, 255, 255, 0.801);
    font-size: 2rem;
    margin-left: 1rem;
  }
  &-list {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &-item {
      border: none;
      padding: 0.5rem 1rem 0.5rem 1rem;
      margin: 0 0.5rem 0.5rem 0.5rem;
      border-radius: 2rem;
      border: 1px solid green;
      background: transparent;
      color: green;
      font-size: 1.5rem;
      outline: none;
      cursor: pointer;
      &:active,
      &:focus {
        background: green;
        color: white;
      }
    }
  }
}
