.info {
  &-stream-logo {
    width: 13rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.205);
    @media only screen and (max-width: 30em) {
      bottom: 5rem;
    }
  }
  &-status {
    position: absolute;
    color: #ddd;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 700;
  }
  &-date {
    top: 2.5rem;
    left: 0;
    font-size: 1.1rem;
  }
  &-prod {
    color: white;
    position: absolute;
    top: 7rem;
    padding: 1rem;
    font-size: 1.2rem;
  }
  &-createdby {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-left: 5rem;
    &-title {
      font-size: 3rem;
      padding: 1rem;
      color: #ddd;
      font-weight: 500;
    }
    &-container {
      background: #111;
    }
    &-el {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem;
      transition: all 0.5s;
      &:hover {
        transform: scale(1.15);
      }
    }
    &-img {
      width: 10rem;
      border-radius: 2rem;
    }
    &-logo {
      width: 7rem;
    }
    &-name {
      font-size: 1.5rem;
      color: #eee;
    }
  }
}
.ses {
  &-element {
    margin: 2rem;
    transition: all 0.5s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &-img {
    border-radius: 1rem;
    width: 15rem;
  }
  &-rating {
    color: rgba(255, 255, 255, 0.61);
    font-size: 1.3rem;
  }
}
.ov-item-logo {
  width: 6rem;
  border-radius: 3rem;
}
.ov-streamon {
  font-size: 2rem;
  margin: 2rem;
}
.ov-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ov-stream {
  display: flex;
}
.ep {
  &-trailer {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    &-icon {
      fill: rgba(255, 0, 0, 0.671);
      width: 3rem;
      height: 3rem;
    }
  }
  &-container {
    background: #111;
    color: rgba(221, 221, 221, 0.651);
    padding-left: 3rem;
    padding-right: 3rem;
    @media only screen and (max-width: 35em) {
      padding-left: 1rem;
    }
  }
  &-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
  }
  &-relese {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  &-overview {
    font-size: 1.6rem;
  }
  &-epcontainer {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
  }
  &-element {
    display: flex;
    align-items: center;
    width: 50%;
    // border: 2px solid #000;
    @media only screen and (max-width: 35em) {
      width: 100%;
    }
    padding: 1rem;
    &-count {
      align-self: flex-start;
      font-size: 2rem;
    }
    &-img {
      width: 20rem;
      border-radius: 2rem;
      @media only screen and (max-width: 30em) {
        height: 15rem;
      }
    }
    &-details {
      display: flex;
      flex-direction: column;
      font-size: 1.3rem;
      &-name {
        font-size: 1.5rem;
        padding: 0.5rem;
      }
      &-relese {
        padding: 0.5rem;
      }
      &-overview {
        padding: 0.5rem;
      }
    }
  }
}
.btn-trailer {
  background: none;
  border: none;
  color: rgba(221, 221, 221, 0.63);
  outline: none;
  cursor: pointer;
}
